<a-drawer
  :visible="drawer.visible"
  wrap-class-name="{{ ['bsw-drawer', drawer.wrapClassName ?? null]|filter(v => v)|join(' ') }}"
  :closable="{{ drawer.closable ? 'true' : 'false' }}"
  :destroy-on-close="true"
  :keyboard="{{ drawer.keyboard ? 'true' : 'false' }}"
  :mask="{{ drawer.mask ? 'true' : 'false' }}"
  :mask-closable="{{ drawer.maskClosable ? 'true' : 'false' }}"
  :title="drawer.title === false ? '' : (drawer.title || '{{ drawer.title|trans({}, 'twig') }}')"
  :width="drawer.width || '{{ drawer.width }}'"
  :height="drawer.height || '{{ drawer.height }}'"
  :z-index="drawer.zIndex || {{ drawer.zIndex }}"
  :placement="drawer.placement || '{{ drawer.placement }}'"
  :mask-style="{{ drawer.maskStyleJson }}"
  :wrap-style="{{ drawer.wrapStyleJson }}"
  :drawer-style="{{ drawer.drawerStyleJson }}"
  :header-style="{{ drawer.headerStyleJson }}"
  :body-style="{{ drawer.bodyStyleJson }}"
  @close="drawerOnCancel"
>
  <div v-html="drawer.content"></div>
  <div v-show="drawer.footer" :data-bsw.prop="{ok: drawer.ok, cancel: drawer.cancel}" class="bsw-footer-bar">
    <a-button
      v-if="typeof drawer.cancelShow !== 'undefined' ? drawer.cancelShow : {{ drawer.cancelShow ? 'true' : 'false' }}"
      type="default"
      @click="drawerOnCancel"
      v-text="drawer.cancelText || '{{ drawer.cancelText|trans({}, 'twig') }}'">
    </a-button>
    <a-button
      v-if="typeof drawer.okShow !== 'undefined' ? drawer.okShow : {{ drawer.okShow ? 'true' : 'false' }}"
      :type="drawer.okType || '{{ drawer.okType }}'"
      @click="drawerOnOk"
      v-text="drawer.okText || '{{ drawer.okText|trans({}, 'twig') }}'">
    </a-button>
  </div>
</a-drawer>