{% if filter.filter is not empty %}
  <a-form
    class="bsw-filter-form"
    :form="filter_form"
    layout="vertical"
    @submit="filter_submit"
  >
    {% for key, item in filter.filter %}
      {% set extra = 0 %}
      {% if item.column > 2 %}
        {% set extra = (((item.column - 2) / 2)|round(0, 'ceil')) * 8 %}
      {% endif %}
      {% set width = (filter.columnPx * item.column + extra) %}
      <a-form-item
        label="{{ item.label }}"
        class="bsw-filter-item"
        :style="{ width: '{{ width }}px', display: filter_display('{{ key }}') }"
      >
        {% set begin = item.title ? '<a-tooltip title="' ~ item.title ~'">' : null %}
        {% set end = item.title ? '</a-tooltip>' : null %}
        {% if item.type is iterable %}
          {{ begin|raw }}
          <a-input-group compact>
            {% for k,v in item.type %}
              {% include '@LeonBsw/form/' ~ v.itemName ~ '.html.twig' with {field: v.key, form: v} %}
            {% endfor %}
          </a-input-group>
          {{ end|raw }}
        {% else %}
          {{ begin|raw }}
          {% include '@LeonBsw/form/' ~ item.type.itemName ~ '.html.twig' with {field: key, form: item.type} %}
          {{ end|raw }}
        {% endif %}
      </a-form-item>
    {% endfor %}

    {% if filter.filter|length > filter.maxShow %}
      <a-form-item class="bsw-filter-item bsw-filter-action" label="　">
        <a-button @click="filter_toggle" type="dashed">
          <span v-if="filter_expand">
            {{ 'a:left'|icon|raw }} {{ filter.textHide|trans({}, 'twig') }}
          </span>
          <span v-else>
            {{ filter.textShow|trans({}, 'twig') }} {{ 'a:right'|icon|raw }}
          </span>
        </a-button>
      </a-form-item>
    {% endif %}

    {% for item in filter.operates %}
      <a-form-item class="bsw-filter-item bsw-filter-action" label="　">
        {% include '@LeonBsw/form/button.html.twig' with {form: item} %}
      </a-form-item>
    {% endfor %}
  </a-form>
{% endif %}