<p class="bsw-hide" v-init:configure='{{ (scaffold.json ?? '{}')|raw }}'></p>
<p class="bsw-hide" v-init:message='{{ (scaffold.msg ?? '{}')|raw }}'></p>
<p class="bsw-hide" v-init:tips='{{ (scaffold.tips ?? '{}')|raw }}'></p>
{% for key, url in tplApiUrl ?? [] %}
  <p class="bsw-hide" v-init:{{ key }}_api_url=`{{ url }}`></p>
{% endfor %}