<a-modal
  v-model="modal.visible"
  wrap-class-name="{{ ['bsw-modal', modal.wrapClassName ?? null]|filter(v => v)|join(' ') }}"
  :closable="{{ modal.closable ? 'true' : 'false' }}"
  :destroy-on-close="true"
  :mask="{{ modal.mask ? 'true' : 'false' }}"
  :mask-closable="{{ modal.maskClosable ? 'true' : 'false' }}"
  :keyboard="{{ modal.keyboard ? 'true' : 'false' }}"
  :title="modal.title === false ? '' : (modal.title || '{{ modal.title|trans({}, 'twig') }}')"
  :ok-text="modal.okText || '{{ modal.okText|trans({}, 'twig') }}'"
  :ok-type="modal.okType || '{{ modal.okType }}'"
  :cancel-text="modal.cancelText || '{{ modal.cancelText|trans({}, 'twig') }}'"
  :z-index="modal.zIndex || {{ modal.zIndex }}"
  :centered="modal.centered"
  :width="modal.width || '{{ modal.width }}'"
  :body-style="{{ modal.bodyStyleJson }}"
  :mask-style="{{ modal.maskStyleJson }}"
  :dialog-style="{{ modal.dialogStyleJson }}"
  @ok="modal.ok"
  @cancel="modal.cancel"
  @after-close="modal.afterClose"
  {% if not modal.footer %}
    :footer="null"
  {% endif %}
>
  <div v-html="modal.content"></div>
</a-modal>