<a-modal
  v-model="modal.visible"
  wrap-class-name="{{ ['bsw-modal', modal.wrapClassName ?? null]|filter(v => v)|join(' ') }}"
  :closable="{{ modal.closable ? 'true' : 'false' }}"
  :destroy-on-close="true"
  :mask="{{ modal.mask ? 'true' : 'false' }}"
  :mask-closable="{{ modal.maskClosable ? 'true' : 'false' }}"
  :keyboard="{{ modal.keyboard ? 'true' : 'false' }}"
  :title="modal.title === false ? '' : (modal.title || '{{ modal.title|trans({}, 'twig') }}')"
  :ok-text="modal.okText || '{{ modal.okText|trans({}, 'twig') }}'"
  :ok-type="modal.okType || '{{ modal.okType }}'"
  :cancel-text="modal.cancelText || '{{ modal.cancelText|trans({}, 'twig') }}'"
  :z-index="modal.zIndex || {{ modal.zIndex }}"
  :centered="modal.centered"
  :width="modal.width || '{{ modal.width }}'"
  :body-style="{{ modal.bodyStyleJson }}"
  :mask-style="{{ modal.maskStyleJson }}"
  :dialog-style="{{ modal.dialogStyleJson }}"
  :ok-button-props="{props:typeof modal.okProps !== 'undefined' ? modal.okProps : {}}"
  :cancel-button-props="{props:typeof modal.cancelProps !== 'undefined' ? modal.cancelProps : {}}"
  :[footer]="null"
  @ok="bsw.modalOnOk"
  @cancel="bsw.modalOnCancel"
>
  <div
    class="bsw-modal-data"
    :data-bsw.prop="{ok: modal.ok, cancel: modal.cancel, extra: result.extra}"
  ></div>
  <div v-html="modal.content"></div>
</a-modal>