{% extends 'layout/empty.html.twig' %}

{% block content %}
  <a-layout class="{{ ['bsw-scaffold', tplScaffoldClass ?? null]|filter(v => v)|join(' ') }}">
    {% if menuHtml is defined %}
      <a-drawer
        wrap-class-name="bsw-menu-mobile"
        v-if="bsw.isMobile()"
        placement="left"
        :closable="false"
        :visible="!menuCollapsed"
        :width="menuWidth"
        @close="menuTrigger"
      >
        {{ (menuHtml ?? null)|raw }}
      </a-drawer>
    {% endif %}
    {{ (menuHtml ?? null)|raw }}
    <a-layout>
      {% block headerBefore %}{% endblock %}
      {{ (headerHtml ?? null)|raw }}
      {% block headerAfter %}{% endblock %}
      <a-layout-content class="{{ scaffold.iframe ? 'iframe' : null }}">
        {% block crumbsBefore %}{% endblock %}
        {{ (crumbsHtml ?? null)|raw }}
        {% block curmbsAfter %}{% endblock %}
        {% block welcomeBefore %}{% endblock %}
        {{ (welcomeHtml ?? null)|raw }}
        {% block welcomeAfter %}{% endblock %}
        {% if operate is defined and operate.position is same as(top) %}
          {% block operateTopBefore %}{% endblock %}
          {{ (operateHtml ?? null)|raw }}
          {% block operateTopAfter %}{% endblock %}
        {% endif %}
        <div class="{{ ['bsw-content', tplContentClass ?? null]|filter(v => v)|join(' ') }}">
          {% block pageBefore %}{% endblock %}
          {% block page %}{% endblock %}
          {% block pageAfter %}{% endblock %}
        </div>
        {% if operate is defined and operate.position is same as(bottom) %}
          {% block operateBottomBefore %}{% endblock %}
          {{ (operateHtml ?? null)|raw }}
          {% block operateBottomAfter %}{% endblock %}
        {% endif %}
      </a-layout-content>
      {% block footerBefore %}{% endblock %}
      {{ (footerHtml ?? null)|raw }}
      {% block footerAfter %}{% endblock %}
    </a-layout>
  </a-layout>
{% endblock %}