{% extends 'layout/empty.html.twig' %}

{% block content %}
  <a-layout class="{{ ['bsw-scaffold', tplScaffoldClass ?? null]|filter(v => v)|join(' ') }}">
    {% if menuHtml is defined %}
      <a-drawer
        wrap-class-name="bsw-menu-mobile"
        v-if="bsw.isMobile()"
        placement="left"
        :closable="false"
        :visible="!menuCollapsed"
        :width="menuWidth"
        @close="menuTrigger"
      >
        {{ (menuHtml ?? null)|raw }}
      </a-drawer>
    {% endif %}
    {{ (menuHtml ?? null)|raw }}
    <a-layout>
      {% block header_before %}{% endblock %}
      {{ (headerHtml ?? null)|raw }}
      {% block header_after %}{% endblock %}
      <a-layout-content class="{{ scaffold.iframe ? 'iframe' : null }}">
        {% block crumbs_before %}{% endblock %}
        {{ (crumbsHtml ?? null)|raw }}
        {% block curmbs_after %}{% endblock %}
        {% block welcome_before %}{% endblock %}
        {{ (welcomeHtml ?? null)|raw }}
        {% block welcome_after %}{% endblock %}
        {% if operate is defined and operate.position is same as(top) %}
          {% block operate_top_before %}{% endblock %}
          {{ (operateHtml ?? null)|raw }}
          {% block operate_top_after %}{% endblock %}
        {% endif %}
        <div class="{{ ['bsw-content', tplContentClass ?? null]|filter(v => v)|join(' ') }}">
          {% block page_before %}{% endblock %}
          {% block page %}{% endblock %}
          {% block page_after %}{% endblock %}
        </div>
        {% if operate is defined and operate.position is same as(bottom) %}
          {% block operate_bottom_before %}{% endblock %}
          {{ (operateHtml ?? null)|raw }}
          {% block operate_bottom_after %}{% endblock %}
        {% endif %}
      </a-layout-content>
      {% block footer_before %}{% endblock %}
      {{ (footerHtml ?? null)|raw }}
      {% block footer_after %}{% endblock %}
    </a-layout>
  </a-layout>
{% endblock %}