{% extends 'layout/empty.html.twig' %}

{% block content %}
  <a-layout class="{{ ['bsw-scaffold', tplScaffoldClass ?? null]|filter(v => v)|join(' ') }}">
    {% if menuHtml is defined and 'menu' not in logic.display ?? [] %}
      <!-- menu mobile -->
      <a-drawer
        wrap-class-name="bsw-menu-mobile"
        v-if="bsw.isMobile()"
        placement="left"
        :closable="false"
        :visible="!menuCollapsed"
        :width="menuWidth"
        @close="menuTrigger"
      >
        {% block menuMobileBefore %}{% endblock %}
        {% block menuMobile %}
          {{ menuHtml|raw }}
        {% endblock %}
        {% block menuMobileAfter %}{% endblock %}
      </a-drawer>
      <!-- menu -->
      <div class="bsw-menu" v-else>
        {% block menuBefore %}{% endblock %}
        {% block menu %}
          {{ menuHtml|raw }}
        {% endblock %}
        {% block menuAfter %}{% endblock %}
      </div>
    {% endif %}
    <a-layout>
      <!-- header -->
      {% if 'header' not in logic.display ?? [] %}
        {% block headerBefore %}{% endblock %}
        {% block header %}
          {{ (headerHtml ?? null)|raw }}
        {% endblock %}
        {% block headerAfter %}{% endblock %}
      {% endif %}
      <a-layout-content class="{{ scaffold.iframe ? 'iframe' : null }}">
        <!-- crumbs -->
        {% if 'crumbs' not in logic.display ?? [] %}
          {% block crumbsBefore %}{% endblock %}
          {% block crumbs %}
            {{ (crumbsHtml ?? null)|raw }}
          {% endblock %}
          {% block curmbsAfter %}{% endblock %}
        {% endif %}
        <!-- welcome -->
        {% if 'welcome' not in logic.display ?? [] %}
          {% block welcomeBefore %}{% endblock %}
          {% block welcome %}
            {{ (welcomeHtml ?? null)|raw }}
          {% endblock %}
          {% block welcomeAfter %}{% endblock %}
        {% endif %}
        {% if operate is defined and operate.position is same as(top) %}
          <!-- operate top -->
          {% if 'operate' not in logic.display ?? [] %}
            {% block operateTopBefore %}{% endblock %}
            {% block operateTop %}
              {{ (operateHtml ?? null)|raw }}
            {% endblock %}
            {% block operateTopAfter %}{% endblock %}
          {% endif %}
        {% endif %}
        <!-- tabs -->
        {% if 'tabs' not in logic.display ?? [] %}
          {% block tabsBefore %}{% endblock %}
          {% block tabs %}
            {{ (tabsHtml ?? null)|raw }}
          {% endblock %}
          {% block tabsAfter %}{% endblock %}
        {% endif %}
        <div class="{{ ['bsw-content', tplContentClass ?? null]|filter(v => v)|join(' ') }}">
          <!-- page -->
          {% block pageBefore %}{% endblock %}
          {% block page %}{% endblock %}
          {% block pageAfter %}{% endblock %}
        </div>
        {% if operate is defined and operate.position is same as(bottom) %}
          <!-- operate bottom -->
          {% if 'operate' not in logic.display ?? [] %}
            {% block operateBottomBefore %}{% endblock %}
            {% block operateBottome %}
              {{ (operateHtml ?? null)|raw }}
            {% endblock %}
            {% block operateBottomAfter %}{% endblock %}
          {% endif %}
        {% endif %}
      </a-layout-content>
      <!-- footer -->
      {% if 'footer' not in logic.display ?? [] %}
        {% block footerBefore %}{% endblock %}
        {% block footer %}
          {{ (footerHtml ?? null)|raw }}
        {% endblock %}
        {% block footerAfter %}{% endblock %}
      {% endif %}
    </a-layout>
  </a-layout>
{% endblock %}