{% extends 'layout/empty.html.twig' %}

{% block content %}
  <a-layout class="{{ ['bsw-scaffold', tplScaffoldClass ?? null]|filter(v => v)|join(' ') }}">
    {% if menuHtml is defined %}
      <a-drawer
        wrap-class-name="bsw-menu-mobile"
        v-if="bsw.isMobile()"
        placement="left"
        :closable="false"
        :visible="!menuCollapsed"
        :width="menuWidth"
        @close="menuTrigger"
      >
        {% if 'menu' not in logic.display ?? [] %}
          {{ (menuHtml ?? null)|raw }}
        {% endif %}
      </a-drawer>
    {% endif %}
    {% if 'menu' not in logic.display ?? [] %}
      {{ (menuHtml ?? null)|raw }}
    {% endif %}
    <a-layout>
      {% block headerBefore %}{% endblock %}
      {% if 'header' not in logic.display ?? [] %}
        {{ (headerHtml ?? null)|raw }}
      {% endif %}
      {% block headerAfter %}{% endblock %}
      <a-layout-content class="{{ scaffold.iframe ? 'iframe' : null }}">
        {% block crumbsBefore %}{% endblock %}
        {% if 'crumbs' not in logic.display ?? [] %}
          {{ (crumbsHtml ?? null)|raw }}
        {% endif %}
        {% block curmbsAfter %}{% endblock %}
        {% block welcomeBefore %}{% endblock %}
        {% if 'welcome' not in logic.display ?? [] %}
          {{ (welcomeHtml ?? null)|raw }}
        {% endif %}
        {% block welcomeAfter %}{% endblock %}
        {% if operate is defined and operate.position is same as(top) %}
          {% block operateTopBefore %}{% endblock %}
          {% if 'operate' not in logic.display ?? [] %}
            {{ (operateHtml ?? null)|raw }}
          {% endif %}
          {% block operateTopAfter %}{% endblock %}
        {% endif %}
        {% block tabsBefore %}{% endblock %}
        {% if 'tabs' not in logic.display ?? [] %}
          {{ (tabsHtml ?? null)|raw }}
        {% endif %}
        {% block tabsAfter %}{% endblock %}
        <div class="{{ ['bsw-content', tplContentClass ?? null]|filter(v => v)|join(' ') }}">
          {% block pageBefore %}{% endblock %}
          {% block page %}{% endblock %}
          {% block pageAfter %}{% endblock %}
        </div>
        {% if operate is defined and operate.position is same as(bottom) %}
          {% block operateBottomBefore %}{% endblock %}
          {% if 'operate' not in logic.display ?? [] %}
            {{ (operateHtml ?? null)|raw }}
          {% endif %}
          {% block operateBottomAfter %}{% endblock %}
        {% endif %}
      </a-layout-content>
      {% block footerBefore %}{% endblock %}
      {% if 'footer' not in logic.display ?? [] %}
        {{ (footerHtml ?? null)|raw }}
      {% endif %}
      {% block footerAfter %}{% endblock %}
    </a-layout>
  </a-layout>
{% endblock %}