{% extends 'blank'|twig('layout') %}
{% set tpl_content_class = ['bsw-chart-container', tpl_content_class_diy ?? null]|filter(v => v)|join(' ') %}

{% block page %}
  {% include 'filter'|twig('limbs') %}
  {% if chart.menu is not empty %}
    <a-tabs
      class="bsw-chart-tabs"
      default-active-key="{{ scaffold.route }}"
      @change="chat_tabs_switch"
      :tab-bar-gutter="6"
      type="card"
    >
      {% for index, link in chart.menu %}
        <a-tab-pane key="{{ link.route }}">
          <span
            id="{{ link.route }}"
            bsw-data='{"location": "{{ link.url }}"}'
            slot="tab">
            {{ link.icon|icon|raw }}{{ link.label|trans({}, 'twig') }}
          </span>
        </a-tab-pane>
      {% endfor %}
    </a-tabs>
  {% endif %}

  <div class="bsw-chart-list">
    {% for key, item in chart.items %}
      {% include 'chart'|twig('limbs') with {key: key, chart: item} %}
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
{% include 'filter'|twig('javascript', 'md') %}
{% include 'chart'|twig('javascript', 'md') %}
{% endblock %}