{% extends '@LeonBsw/layout/blank.html.twig' %}
{% set tpl_content_class = ['bsw-chart-container', tpl_content_class_diy ?? null]|filter(v => v)|join(' ') %}

{% block page %}
  {% include '@LeonBsw/limbs/filter.html.twig' %}
  {% if chart.tabsMenu is not empty %}
    <a-tabs
      class="bsw-chart-tabs"
      default-active-key="{{ scaffold.route }}"
      @change="chat_tabs_switch"
      :tab-bar-gutter="6"
      type="card"
    >
      {% for index, link in chart.tabsMenu %}
        <a-tab-pane key="{{ link.route }}">
          <span
            id="{{ link.route }}"
            bsw-data='{"location": "{{ link.url }}"}'
            slot="tab">
            {{ link.icon|icon|raw }}{{ link.label|trans({}, 'twig') }}
          </span>
        </a-tab-pane>
      {% endfor %}
    </a-tabs>
  {% endif %}

  <div class="bsw-chart-list">
    {% for index, item in chart.items %}
      <div
        class="bsw-chart"
        id="chart-{{ index }}"
        style="width: {{ item.width }}; height: {{ item.height }}; {{ item.style }}"
      ></div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascript %}
{% include '@LeonBsw/javascript/filter.md.twig' %}
{% include '@LeonBsw/javascript/chart.md.twig' %}
{% endblock %}