{% extends '@LeonBsw/layout/blank.html.twig' %}
{% set tpl_content_class = ['bsw-page-container', tpl_content_class_diy ?? null]|filter(v => v)|join(' ') %}

{% block page %}
  <div class="bsw-persistence">
    <a-form
      id="persistence_form"
      :form="persistence_form"
      :style='{{ persistence.styleJson|raw }}'
      @submit="persistence_submit"
    >
      {% set total_column = constant(scaffold.abs ~ "::PERSISTENCE_TOTAL_COLUMN") %}
      {% set label_column = constant(scaffold.abs ~ "::PERSISTENCE_LABEL_COLUMN") %}

      {% set small = scaffold.iframe ? 'sm' : 'md' %}
      {% set large = scaffold.iframe ? 'md' : 'lg' %}

      {% for field, item in persistence.record %}
        {% set form = item.type %}
        {% set wrapper_column = item.column ?: (total_column - label_column) %}
        <a-form-item
          v-show="{{ item.hide ? 'false' : 'true' }}"
          :label-col="{ {{ small }}: { span: {{ total_column }} }, {{ large }}: { span: {{ label_column }} }}"
          :wrapper-col="{ {{ small }}: { span: {{ total_column }} }, {{ large }}: { span: {{ wrapper_column }} }}"
          label="{{ item.label|trans({}, 'twig') }}"
          extra="{{ ((item.tips|trans({}, 'twig')) ~ ',' ~ item.tipsAuto)|trim(',') }}"
        >
          {% set title = (item.title ~ ',' ~ item.titleAuto)|trim(',') %}
          {% set begin = title ? '<a-popover overlay-class-name="bsw-popover"><template slot="content">' ~ title ~ '</template>' : null %}
          {% set end = title ? '</a-popover>' : null %}
          {{ begin|raw }}
          {% include '@LeonBsw/form/' ~ form.itemName ~ '.html.twig' %}
          {{ end|raw }}
        </a-form-item>
      {% endfor %}

      <a-form-item
        :wrapper-col="{
          {{ small }}: { span: {{ total_column }}, offset: 0 },
          {{ large }}: { span: {{ total_column - label_column }}, offset: {{ label_column }} }
        }"
      >
        {% for form in persistence.operates %}
          {% include '@LeonBsw/form/button.html.twig' %}
        {% endfor %}
      </a-form-item>
    </a-form>
  </div>
{% endblock %}

{% block javascript %}
bsw.configure({
    data: {
        persistence_form: null,
        persistence_format: {{ persistence.formatJson|raw }},
        persistence_upload_field: null,
        persistence_file_list_key_collect: {{ persistence.fileListKeyCollectJson|raw }},
        persistence_upload_tips_collect: {{ persistence.uploadTipsCollectJson|raw }},
    },
    method: {
        persistence_submit(e) {
            this.persistence(e);
        }
    },
    logic: {
        persistence_init(v) {
            v.persistence_form = v.$form.createForm(v);
            v.$nextTick(function () {
                bsw.cnf.v.initCkEditor();
            });
        }
    }
});
{% endblock %}