{% extends 'blank'|twig('layout') %}

{% block page %}
  {% include 'filter'|twig('limbs') %}
  {% set fields = '{' ~ (preview.choice.fields ?? [])|array_map_double('"%s":"${record.%s}"')|join(',') ~ '}' %}
  <div class="bsw-preview">
    <a-table
      :columns="preview_columns"
      :data-source="preview_list"
      :bordered="{{ preview.border ? 'true' : 'false' }}"
      :pagination="false"
      :row-key="record => `{{ fields }}`"
      {% if preview.choice.enable ?? false %}
        :row-selection="{
            type: '{{ (preview.choice.multiple ?? false) ? 'checkbox' : 'radio' }}',
            selectedRowKeys: preview_selected_row,
            onChange: preview_selected_change,
          }"
      {% endif %}
      :scroll="{x: {{ preview.scroll }}}"
      size="{{ preview.size }}"
      @change="preview_sort_data"
    >
      {% for item in preview.dress %}
        {{ item|raw }}
      {% endfor %}
    </a-table>
    <a-pagination
      :show-quick-jumper="true"
      :hide-on-single-page="true"
      :show-total="(total, range) => `${bsw.lang.total} ${total}`"
      :page-size.sync="previewPageSize"
      :default-current="preview_pagination_data.currentPage"
      :total="preview_pagination_data.totalItem"
      :show-size-changer="true"
      :page-size-options="preview_pagination_size_options"
      :simple="false"
      size="{{ preview.size }}"
      @change="preview_pagination"
    ></a-pagination>
  </div>
{% endblock %}

{% block javascript %}
{% include 'filter'|twig('javascript', 'md') %}
{% include 'preview'|twig('javascript', 'md') %}
{% endblock %}