{% extends 'foundation/w3c.html.twig' %}

{% block w3c %}
  <p class="bsw-hide" id="var-font-symbol" data-bsw-value="{{ scaffold.cnf.fontSymbol }}"></p>
  {% if scaffold.app == constant(scaffold.abs ~ '::APP_TYPE_BACKEND') %}
    {% block loading %}
      <div class="bsw-page-loading" style="{{ scaffold.cnf|imageStyle('loading') }}">
        <span>{{ 'Loading'|trans({}, 'twig') }}</span>
      </div>
    {% endblock %}
  {% endif %}
  <div class="{{ ['bsw-vue', 'bsw-body', tplBodyClass ?? null]|joinClass }}">
    <template>
      <!-- init -->
      {% if limbsInit ?? true %}
        {% block init %}
          {% include 'limbs/init.html.twig' %}
        {% endblock %}
      {% endif %}
      <!-- modal -->
      {% block modalBefore %}{% endblock %}
      {% if 'modal' not in logic.display ?? [] %}
        {% block modal %}
          {{ (modalHtml ?? null)|raw }}
        {% endblock %}
      {% endif %}
      {% block modalAfter %}{% endblock %}
      <!-- drawer -->
      {% block drawerBefore %}{% endblock %}
      {% if 'drawer' not in logic.display ?? [] %}
        {% block drawer %}
          {{ (drawerHtml ?? null)|raw }}
        {% endblock %}
      {% endif %}
      {% block drawerAfter %}{% endblock %}
      <!-- result -->
      {% block resultBefore %}{% endblock %}
      {% if 'result' not in logic.display ?? [] %}
        {% block result %}
          {{ (resultHtml ?? null)|raw }}
        {% endblock %}
      {% endif %}
      {% block resultAfter %}{% endblock %}
      <a-config-provider :locale="locale" :auto-insert-space-in-button="true">
        {% block bodyBefore %}{% endblock %}
        {% block body %}{% endblock %}
        {% block bodyAfter %}{% endblock %}
      </a-config-provider>
    </template>
  </div>
{% endblock %}
