{% extends 'layout/preview.html.twig' %}

{% block pageAfter %}
  <a-drawer
    v-for="drawer in previewList"
    wrap-class-name="bsw-drawer bsw-work-task-drawer"
    :key="drawer.id"
    title="{{ 'Trail'|trans({}, 'twig') }}"
    :width="720"
    placement="left"
    :closable="false"
    :visible="trailDrawer[drawer.id]"
    @close="trailDrawerClose"
  >
    <a-timeline>
      <a-timeline-item v-for="item in drawer.trailList" :key="item.id">
        <a-avatar slot="dot" size="large" :style={backgroundColor:item.color}>{{ '{{ item.name }}' }}</a-avatar>
        <div>
          {{ '{{ item.time }}' }}
          <span :style={color:item.reliable?'rgba(0,128,0,.7)':'#999'}>({{ '{{ item.human }}' }})</span>
        </div>
        <pre class='bsw-pre bsw-long-text' v-html="item.trail"></pre>
      </a-timeline-item>
      <a-timeline-item v-if="[1,2].indexOf(drawer.state) >= 0">
        <a-icon slot="dot" type="loading" style="font-size: 24px;"></a-icon>
        Progressing..
      </a-timeline-item>
    </a-timeline>
    <div class="footer-bar">
      <a-button type="primary" @click="trailDrawerClose">{{ 'I got it'|trans({}, 'twig') }}</a-button>
    </div>
  </a-drawer>
{% endblock %}

{% block javascriptAfter %}
  {% include 'javascript/task.md.twig' %}
{% endblock %}