{% set class = {
  type: 'ant-btn-' ~ form.type,
  size: {small: 'ant-btn-sm', large: 'ant-btn-lg'}[form.size] ?? null,
  block: form.ghost ? 'ant-btn-block' : null,
  ghost: form.ghost ? 'ant-btn-background-ghost' : null,
  circle: form.circle ? 'ant-btn-circle' : null
} %}

<button
  class="{{ ['ant-btn']|merge(class)|filter(v => v)|join(' ') }}"
  name="{{ form.name }}"
  {% if form.styleStringify %}
    style="{{ form.styleStringify }}"
  {% endif %}
  {% if form.disabled %}
    disabled="disabled"
  {% endif %}
  type="{{ form.htmlType }}"
  data-bsw="{{ form.data }}"
  onclick="bsw.cnf.v.dispatcherByNative(this)"
  {% if form.selector %}
    {% set varKey = form.selectRowKey ?? 'previewSelectedRow' %}
    {% set var = '(' ~ varKey ~ ' && ' ~ varKey ~ '.length)' %}
    {{ '{{ ' ~ var ~ ' ? `(${' ~ var ~ '})` : null }}' }}
  {% endif %}
  {{ form.attributes|raw }}
>
  {% if form.icon %}
    {{ form.icon|nativeIcon(form.iconClass)|raw }}
  {% endif %}
  <span>{{ form.label|trans({}, 'twig') }}</span>
</button>
