<a-textarea
  v-show="false"
  v-decorator="['{{ field }}', { initialValue: `{{ form.value }}`, rules: {{ form.rules }} }]"
></a-textarea>

<div class="bsw-ck">
  <div class="bsw-ck-toolbar"></div>
  <div
    class="bsw-ck-editor {{ form.class }}"
    :style="{{ form.style }}"
    {{ form.attributes|raw }}
  >{{ form.value|raw }}</div>
</div>