<a-textarea
  v-show="false"
  v-decorator="['{{ form.key }}', { initialValue: `{{ form.value }}`, rules: {{ form.formRules }} }]"
></a-textarea>

<div
  class="{{ ['bsw-ck', form.class]|joinClass }}"
  name="{{ form.name }}"
  :style="{{ form.style }}"
  :disabled="{{ form.disabled ? 'true' : 'false' }}"
  placeholder="{{ form.placeholder }}"
  {{ form.attributes|raw }}
>
  <div class="bsw-ck-toolbar"></div>
  <div class="bsw-ck-editor">{{ form.value|raw }}</div>
</div>
